.v-checkbox
  display: grid
  grid-template-columns: 19px
  gap: 10px

  &--labeled
    grid-template-columns: 19px 1fr

  width: var(--v-checkbox-width, min-content)
  height: var(--v-checkbox-height, min-content)

  &__input-container
    width: 19px
    height: 19px
    position: relative

  & input
    width: 100%
    height: 100%
    border-radius: 6px
    overflow: hidden
    appearance: none
    position: relative
    background: var(--white)
    transition: background-color var(--transition-fast)
    cursor: pointer
    border: 1px solid var(--gray)

    &:hover
      background-color: rgba(0, 0, 0, .05)

    &:active
      background-color: rgba(0, 0, 0, .1)

    &:disabled
      cursor: initial


  &--disabled label
    cursor: initial

  &--checked
    & input
      background-color: var(--green)
      border-width: 0

      &:hover
        background-color: rgb(91, 203, 182)

      &:active
        background-color: rgb(79, 200, 176)

  &--checked &__icon
    transform: scale(1)
    opacity: 1


  &__icon
    left: 0
    top: 0
    width: 100%
    height: 100%
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    transform: scale(0)
    opacity: 0
    transition: transform var(--transition-fast), opacity var(--transition-fast)
    pointer-events: none
    z-index: 1

  & label
    cursor: pointer


