.v-button
  padding: 17px 30px
  border-radius: 6px
  transition: background-color var(--transition-fast)

  &--thin
    --v-button-height: 30px
    padding: 7px 12px

  &--green
    --v-button-background: var(--green)

    &:hover
      --v-button-background: var(--green-hover)

    &:active
      --v-button-background: var(--green-active)


  &--dark-blue
    --v-button-background: var(--dark-blue)

    &:hover
      --v-button-background: var(--dark-blue-hover)

    &:active
      --v-button-background: var(--dark-blue-active)

  &--gray
    --v-button-background: var(--button-gray)

    &:hover
      --v-button-background: var(--button-gray-hover)

    &:active
      --v-button-background: var(--button-gray-active)


  &--transparent
    --v-button-background: none
    border: 1px solid var(--gray)

    &:hover
      --v-button-background: rgba(0, 0, 0, .05)

    &:active
      --v-button-background: rgba(0, 0, 0, .1)

  &[disabled]
    --v-button-background: var(--button-gray)
    cursor: initial

  &--no-border
    border: none

  background-color: var(--v-button-background)
  height: var(--v-button-height, min-content)
  width: var(--v-button-width, max-content)

