\:root
  --main-font: 'GraphikLCG', sans-serif

  --green: #2ED2BA
  --dark-blue: #132639
  --button-gray: #F2F1F3
  --gray: #999999
  --gray-dark: #666666
  --black: #000000
  --error: #FF1E1E
  --white: #FFFFFF

  --app-background: #F2F2F2

  --content-size: minmax(500px, 1400px)
